<h1>Events</h1>
<p>Click on an Event to see more info about it</p>

<% @events.each do |event| %>
<button class="event"><a href="/events/<%= event.id %>">
<%= event.event_name %></a></button>
</a>
<hr>

<% end %>

<button class="home"><a href="/home">Back to HomePage</a></button>
