<h1>Rio de Janeiro Olympics 2016</h1>


<button class="homepage"><a href="/nations">List of Nations</a></button>

<button class="homepage_athletes"><a href="/athletes">List of Athletes</a></button>

<button class="homepage"><a href="/events">List of Events</a></button>

<button class="homepage_medals"><a href="/result">Medals Table</a></button>
