<!DOCTYPE html>
<html>
<head>
  <title>Rio Olympics results Table</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body style="background-image: url( <%= @page_background %>)">
  <%= yield %>

</body>
</html>