<div class="nations_container">
<h1>Nations</h1>
<p>Click on a Flag to get that Nations Information</p>

<button class="home"><a href="/home">Back to HomePage</a></button>
<button class="home"><a href="/result">Go to Medals Table</a></button>

<ul>
  <% @nations.each do |nation| %>

  <li><a href="/nations/<%= nation.id %>"><img class="nations_flags" src="<%= nation.flag_url %>"></li>
  </a>
  <% end %>
</ul>

</div>




