<h1>Athletes Name : <%= @athlete.name%></h1>
<h2>Athletes Nation : <%= @nations.name %></h2>
<img src="<%= @nations.flag_url %>">
<h3>Events : </h3>
<% @athlete.events.each do |event| %>
<%= event.event_name %> <br><br>
<% end %>

<button><a href="/athletes">Back to Athletes></a></button>